<%- include('partials/header') %> 
    <div class="container">
        <div class="title">
            <h1>CREATE USER</span></h1>
        </div>
        <div class="create-user">
            <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Username</th>
                    <td><input class="form-control" id="form-username"></td>
                  </tr>
                  <tr>
                    <th scope="row">Password</th>
                    <td><input class="form-control" id="form-password"></td>
                  </tr>
                  <tr>
                    <th scope="row">Email</th>
                    <td><input class="form-control" id="form-email"></td>
                  </tr>
                  <tr>
                    <th scope="row">Nama</th>
                    <td><input class="form-control" id="form-nama"></td>
                  </tr>
                  <tr>
                    <th scope="row">Alamat</th>
                    <td><input class="form-control" id="form-alamat"></td>
                  </tr>
                  <tr>
                    <th scope="row">Tanggal Lahir</th>
                    <td><input class="form-control" id="form-ttl"></td>
                  </tr>
                  <tr>
                    <th scope="row">Jenis Kelamin</th>
                    <td><input class="form-control" id="form-gender"></td>
                  </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary" onclick=createUser()>Create</button>
        </div>
    </div>
<%- include('partials/footer') %> 